/AutoGuardadoVideosDAM/nbproject/private/
/AutoGuardadoVideosDAM/build/
/AutoGuardadoVideosDAM/dist/
/DAMManager/nbproject/private/
/DAMManager/build/
/DAMManager/dist/
/contadorPaginas/nbproject/private/
/contadorPaginas/build/
/contadorPaginas/dist/
/JavaFXApplication6/nbproject/private/
/DAMTools/nbproject/private/
/DAMTools/build/
/DAMTools/dist/
/Pruebas/nbproject/private/